asgiref==3.7.2
Django==4.2.7
django-appconf==1.0.6
django-bootstrap4==23.2
django-cors-headers==4.3.1
django-filter==23.4
django-google-maps==0.13.0
django-html==0.1.0
django-rest-framework==0.1.0
djangorestframework==3.14.0
djangorestframework-gis==1.0
gunicorn==21.2.0
sqlparse==0.4.4
tzdata==2023.3
Pillow==10.1.0
pipenv==2023.11.15
pipfile==0.0.2
virtualenv==20.24.7
virtualenv-clone==0.5.7