{% extends "base_generic.html" %}
{% load bootstrap4 %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
  <div class="col-md-8 mx-auto">

  <h4>Signin username or email</h4>
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" value="login" class="boxed-btn3 w-100">Login</button>
  {% endbuttons %}
  {% comment %} <input type="submit" value="login" class="boxed-btn3 w-100" /> {% endcomment %}
  {% comment %} <input type="hidden" name="next" value="{{ next }}"> {% endcomment %}
  <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>

  </div>

</form>

{% endblock %}